
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- main css File Loading -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>Home</title>
</head>
<body> 
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #a5d4f7;">
        <div class="container-fluid">
          <img class="circular--square" src="{% static '/images/nav_logo.png' %}" alt="" srcset="">
          <a class="navbar-brand nave-brand-size" style="color: rgb(204, 38, 88);" href="#">ABC Multispeciality Hospital</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Heart Disease</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cancer' %}">Cancer Disease</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'diabets' %}">Diabets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav> <br>

      <div class="container px-3">
          <div class="row gx-5">
              <div class="col">
                  <div class="shadow p-3 mb-5 bg-body rounded content-section">
                  <div class="p-3 border bg-light">
               {% block content %}
                    
               {% endblock content %}
           </div>
          </div>
        </div>
          <div class="col">
            <div class="shadow p-3 mb-5 bg-body rounded content-section">
                <div class="p-3 border bg-light">
                {% block res %}
                {% endblock res %}
                </div>
          </div>
        </div>
    </div>
      </div>
    


      <!-- footer -->

      <div style="background-color: #a5d4f7; height: 50px; text-align: center">
        <div class="row">
          <div class="col footer">
           <b> BC Multispeciality Hospital </b>
          </div>
          <div class="col-5 footer">
           <b>All 	&#169copy rights are reserved for ABC Hospital</b>
          </div>
          <div class="col footer">
            <b>2021</b> 
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>